<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add A Car</title>
<link rel="StyleSheet" href="/app.css" type="text/css">
</head>
<body>
	<h2>Add A Car</h2>
	<form method="post" action="/addCar">
		<div>
			<label>Make: <input type="text" name="make" required>
			</label>
		</div>
		<br>
		<div>
			<label>Model: <input type="text" name="model" required>
			</label>
		</div>
		<br>
		<div>
			<label>Year: <input type="number" name="year" required>
			</label>
		</div>
		<br>
		<button>Add This Car</button>
	</form>
</body>
</html>